/* FuturisticBody.css */
.futuristic_body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    animation: slideIn 8s ease-in-out;
    animation-fill-mode: both;
  }
  
  .futuristic_body h1 {
    font-size: 2rem;
  }
  
  .futuristic_body p {
    font-size: 1.2rem;
  }
  
  .futuristic_body button {
    font-size: 1rem;
  }

h1{
    font-family: 'Orbitron', sans-serif;
    color: #00ff00;
    text-align: center;
    font-size: 2rem;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100;
  }
}